---
layout: layout.njk
page_id: 5e4b8703f0815874152264f2
site_id: 5e4b8703f0815874d02263b8

---


<div id="Top" class="banner">
  <div class="container w-container">
    {% include _nav.html %}
    <div class="banner-grid">
      <div id="w-node-cd59a1853202-152264f2" class="left-banner text-center">
        <div>
          <div
            data-w-id="3e7f4aca-9f1a-49fb-d7bd-1963a8041267"
            style="opacity:0"
            class="sub-text"
          >
            Circling中国官方网站<br />
          </div>
          <h1
            data-w-id="05a455b4-dbb5-e615-1985-36aab8833204"
            style="opacity:0"
            class="tittle-banner"
          >
            从他人眼中<br /><br />看见自己<br />
          </h1>
        </div>
        <div
          data-w-id="42f7ef6c-e64e-9676-b338-7df6bac6dcf2"
          style="opacity:0"
          class="top-margin"
        >
          <div id="main-login-button" class="button white w-button" data-netlify-identity-button></div>
        </div>
      </div>
      <div>
        <div class="relativ-div no-margin">
          <ul class="client-logo w-list-unstyled">
            <li
              data-w-id="aad61717-12f8-f3d5-7e4e-bc8627476d8a"
              style="opacity:0"
              class="logo-1"
            ></li>
            <li
              data-w-id="aad61717-12f8-f3d5-7e4e-bc8627476d8c"
              style="opacity:0"
              class="logo-2"
            ></li>
            <li
              data-w-id="aad61717-12f8-f3d5-7e4e-bc8627476d8e"
              style="opacity:0"
              class="logo-3"
            ></li>
            <li
              data-w-id="aad61717-12f8-f3d5-7e4e-bc8627476d90"
              style="opacity:0"
              class="logo-4"
            ></li>
            <li
              data-w-id="aad61717-12f8-f3d5-7e4e-bc8627476d92"
              style="opacity:0"
              class="logo-5"
            ></li>
            <li
              data-w-id="aad61717-12f8-f3d5-7e4e-bc8627476d94"
              style="opacity:0"
              class="logo-6"
            ></li>
            <li
              data-w-id="aad61717-12f8-f3d5-7e4e-bc8627476d96"
              style="opacity:0"
              class="logo-7"
            ></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <img src="images/shape-1.svg" width="300" alt="" class="shape-2" /><img
    src="images/shape-1.svg"
    width="300"
    alt=""
    class="shape-2 second"
  />
  <div class="page-divider">
    <div class="page-divider-white"></div>
  </div>
</div>



<div class="section transparent">
  <div class="container w-container">
    <div>
      <div
        data-w-id="3e617506-9a41-1ca9-1e9c-90e0174a7caa"
        style="opacity:0"
        class="top-title center"
      >
        <div class="sub-text red">什么是circling？<br /></div>
        <h1 class="h1">在关系中冥想<br /></h1>
        <h2 class="heading-2">用心对话，创造真实的联结</h2>
      </div>
      <div class="features-grid">
        <div
          data-w-id="3e617506-9a41-1ca9-1e9c-90e0174a7cb4"
          style="opacity:0"
          class="testimonials-wrapper"
        >
          <img src="images/quote.png" width="50" alt="" class="quote-icon" />
          <div>
            <div class="quote-text ceo-quote">
              在遇到Circling之前，我也以为，只有把事情讲得足够具体，才有可能被深深懂得。<br /><br />‍<br />
            </div>
            <div class="top-margin flex">
              <div class="testimonials-photo"></div>
              <div>
                <div class="testi-name">Jess</div>
                <div class="testi-name job-title">Circling中国发起人</div>
              </div>
            </div>
          </div>
        </div>
        <ul class="list-2">
          <li>
            <div class="features-wrapper horizontal yellow">
              <img
                src="images/051-branch.svg"
                alt=""
                class="services-icon second"
              />
              <h1 class="services-title less-margin">告别社恐</h1>
              <div class="text-block-2">
                停止尬聊，享受沉默，再也不用没话找话，只需关注内心，&quot;让话来找我们&quot;
              </div>
            </div>
          </li>
          <li>
            <div class="features-wrapper horizontal puiple">
              <img
                src="images/051-sun.svg"
                alt=""
                class="services-icon second"
              />
              <h1 class="services-title less-margin">释放压抑</h1>
              <div class="text-block-2">
                焦虑、愤怒、悲伤、情欲，全都不必自我审查，在安全的空间里，被温柔接纳
              </div>
            </div>
          </li>
          <li>
            <div class="features-wrapper horizontal blue">
              <img
                src="images/051-umbrella.svg"
                alt=""
                class="services-icon second"
              />
              <h1 class="services-title less-margin">爱与被爱</h1>
              <div class="text-block-2">
                宠爱自己，关心他人，被人照料，三者可以同时存在。你会发现，你从来都爱着，也被爱着
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="page-divider"></div>
</div>
<div class="section">
  <div class="page-divider"></div>
  <div class="container w-container">
    <div class="counters-wrapper"
          align-items: center;>
      <div
        id="w-node-6092dad2a576-152264f2"
        data-w-id="27875712-8db3-3853-fc10-6092dad2a576"
        style="opacity:0"
        class="counters-flex"
      >
        <h1 class="counters-text">126</h1>
        <div class="testi-name job-title">会员参与过活动</div>
      </div>
      <div
        id="w-node-7b507b264857-152264f2"
        data-w-id="194cda67-b8dd-8724-8544-7b507b264857"
        style="opacity:0"
        class="counters-flex"
      >
        <h1 class="counters-text">7</h1>
        <div class="testi-name job-title">位认证带领者</div>
      </div>
      <div
        id="w-node-846767038fb3-152264f2"
        data-w-id="3de6133e-168a-d9ae-c496-846767038fb3"
        style="opacity:0"
        class="counters-flex"
      >
        <h1 class="counters-text">100+<br /></h1>
        <div class="testi-name job-title">小时累计Circling时长<br /></div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="page-divider"></div>
  <div
    data-animation="slide"
    data-duration="500"
    data-infinite="1"
    class="slider w-slider"
  >
    <div class="mask w-slider-mask">
      <div class="w-slide">
        <div class="testimonials-wrapper ceo-quote">
          <img src="images/quote.png" width="50" alt="" class="quote-icon" />
          <div class="quote-text">
            原来，Circling不注重于分享故事，而是在于看见和表达当下的所有。<br />看到了就说，调整状态就深呼吸。<br />还有，“让话来找我们”，这个规则太好了！<br />
          </div>
          <div class="top-margin flex center">
            <div class="testimonials-photo-1"></div>
            <div class="div-block-3">
              <div class="testi-name">Ming</div>
              <div class="testi-name job-title">设计师</div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-slide">
        <div class="testimonials-wrapper ceo-quote">
          <img src="images/quote.png" width="50" alt="" class="quote-icon" />
          <div class="quote-text">
            Circling让我有勇气看向自己的内心，有力量停驻在当下。<br />
          </div>
          <div class="top-margin flex center">
            <div class="testimonials-photo-2"></div>
            <div class="div-block-3">
              <div class="testi-name">Fairy</div>
              <div class="testi-name job-title">注册会计师</div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-slide">
        <div class="testimonials-wrapper ceo-quote">
          <img src="images/quote.png" width="50" alt="" class="quote-icon" />
          <div class="quote-text">
            一次次的线上Circling让我升起了对他人的好奇，传达出我的感受，又收获了别人的关怀。<br/>
          </div>
          <div class="top-margin flex center">
            <div class="testimonials-photo-3"></div>
            <div class="div-block-3">
              <div class="testi-name">Max</div>
              <div class="testi-name job-title">UI 设计师</div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-slide">
        <div class="testimonials-wrapper ceo-quote">
          <img src="images/quote.png" width="50" alt="" class="quote-icon" />
          <div class="quote-text">
            Circling是一个共享空间，不像独自冥想那样排除语言和交流，但仍然会注意避免“评判”和“杂念”。<br />它让人有机会放下重重“故事”和“期望”的包裹，更真切地看见自己和他人。<br />
          </div>
          <div class="top-margin flex center">
            <div class="testimonials-photo-4"></div>
            <div class="div-block-3">
              <div class="testi-name">典典</div>
              <div class="testi-name job-title">留美博士</div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-slide">
        <div class="testimonials-wrapper ceo-quote">
          <img src="images/quote.png" width="50" alt="" class="quote-icon" />
          <div class="quote-text">
            我终于可以只用陪伴，而不需语言安慰，还不会被人说“冷血”。这种人类共有的情绪流动，让我感觉很贴近。<br />
          </div>
          <div class="top-margin flex center">
            <div class="testimonials-photo-5"></div>
            <div class="div-block-3">
              <div class="testi-name">美兰</div>
              <div class="testi-name job-title">医生</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="left-arrow w-slider-arrow-left">
      <div class="icon-2 w-icon-slider-left"></div>
    </div>
    <div class="right-arrow w-slider-arrow-right">
      <div class="icon-3 w-icon-slider-right"></div>
    </div>
    <div class="slide-nav w-slider-nav w-round"></div>
  </div>
</div>
<div class="section transparent">
  <div class="container w-container">
    <div
      data-w-id="59eefb4f-7098-0d09-056a-81d496ac9bf1"
      style="opacity:0"
      class="top-title center"
    >
      <div class="sub-text red">近期活动<br /></div>
      <h1 class="h1">参加线上线下活动，用心对话，可以很简单<br /></h1>
    </div>
    <div class="div-block-4">
      <div class="collection-list-wrapper-2 w-dyn-list">
        <div class="w-dyn-items w-row">
          {% for event in collections.event limit:3 %}
            {% include _event.html %}
          {% endfor %}
        </div>
      </div>
      <a href="pages/events" class="button w-button">查看所有活动</a>
    </div>
  </div>
  <div class="page-divider">
    <div class="page-divider-white down"></div>
  </div>
</div>
{%include _free_event.html%}
