<div class="w-dyn-item w-col w-col-6">
  <a data-w-id="2ec87aa09-73de-e04e-72d4-72bc93414322" style="background-image: url(&quot;{{blogpost.data.img}}&quot;);" href={{blogpost.url}} class="blog-featured _95 add-margin-blog w-inline-block">
    <div class="blog-overlay">
      <div style="background-color:#3ccf91" class="category">Circling</div>
    </div>
    <div class="blog-text">
      <h1 class="blog-title">{{blogpost.data.title}}</h1>
      <div class="author-flex center">
        <h4 class="sub-title name whiter">By<br></h4>
        <h4 class="sub-title name whiter">{{blogpost.data.author}}</h4>
      </div>
    </div>
  </a>
</div>