



<div class="div-block-11">
  {% for eventDay in eventData -%}
  <div>
    <div class="schedule-title w-row">
      <div class="column w-col w-col-3">
        <div>
          <div>{{eventDay.date}}</div>
        </div>
      </div>
      <div class="w-col w-col-3">
        <div>活动</div>
      </div>
      <div class="w-col w-col-3">
        <div>带领者</div>
      </div>
      <div class="w-col w-col-3">
        <div>报名</div>
      </div>
    </div>

    {% for session in eventDay.sessions -%}
      <div class="schedule-columns w-row">
        <div class="w-col w-col-3">
          <div>
            <div>{{session.time}}</div>
          </div>
        </div>
        <div class="w-col w-col-3">
          <div>{{session.category}}</div>
        </div>
        <div class="w-col w-col-3">
        <!--  <div>{{session.host}}</div> -->
        <a href="/pages/leaders/#{{session.host}}">{{session.host}}</a>
        </div>
        <div class="w-col w-col-3">
          <a href="#" class="join-button w-button">报名</a>
        </div>
      </div>
    {% endfor -%}
  </div>
  {% endfor -%}
</div>