<footer class="footer">
  <div
    id="w-node-4975eabe219e-eabe219d"
    data-w-id="4cdd6096-3c2b-7ea9-6a4b-4975eabe219e"
    class="footer-column normal-padding"
  >
    <h4>Menu</h4>
    <div class="top-margin vertical">
      <a href="/index" class="navigation-item for-footer">首页</a
      ><a
        href="/pages/whatiscircling1"
        aria-current="page"
        class="navigation-item for-footer w--current"
        >什么是Circling</a
      ><a
        href="/pages/events"
        aria-current="page"
        class="navigation-item for-footer w--current"
        >近期活动</a
      ><a href="/pages/blog" class="navigation-item for-footer">文章</a
      ><a href="/pages/pricing" class="navigation-item for-footer"
        >会员套餐</a
      ><a href="/pages/about" class="navigation-item for-footer">关于</a
      ><a href="/pages/contact" class="navigation-item for-footer"
        >联系我们</a
      >
    </div>
  </div>
  <div
    id="w-node-4975eabe21ac-eabe219d"
    data-w-id="4cdd6096-3c2b-7ea9-6a4b-4975eabe21ac"
    class="footer-column"
  >
    <div>
      <a href="#" class="w-inline-block"
        ><img
          src="/images/logo_red.png"
          width="150"
          alt=""
      /></a>
      <div class="top-margin">
        <h1 class="footer-quote">舍临中国<br /></h1>
      </div>
      <div class="top-margin more">
        <div class="left-copyright-flex">
          <p class="copyright">Copyright@CirclingChina 2020</p>
          <a
            href="/template-info/licensing"
            target="_blank"
            class="made-with-webflow left-margin w-inline-block"
          >
            <div class="text-block">Licensing</div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div
    id="w-node-4975eabe21c0-eabe219d"
    data-w-id="4cdd6096-3c2b-7ea9-6a4b-4975eabe21c0"
    class="footer-column normal-padding no-line"
  >
    <h4>关注我微信公号</h4>
    <div class="top-margin">
      <img
        src="/images/qrcode_for_gh_3c8da982b782_1280.jpg"
        alt=""
        class="image-2"
      />
    </div>
  </div>
</footer>
<a
  href="#Top"
  style="-webkit-transform:translate3d(100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
  class="go-top w-inline-block"
  ><img
    src="https://uploads-ssl.webflow.com/5e25ba92040a69282308fca3/5e25ba92040a69825808fce2_bottom.svg"
    width="18"
    alt=""
/></a>
