
<div class="section red">
  <div class="container w-container">
    <div class="algin-center">
      <div data-w-id="1200627d-24c1-de19-7336-40fa2187d030" class="sub-text">即将开始<br></div>
      <h1 data-w-id="1200627d-24c1-de19-7336-40fa2187d033" class="h1 big">
        <span>新人免费课程<br>‍<br>2020年6月14日 14:00-16:00</span><br></h1>
    </div>
    <div class="top-margin more">
      <div data-w-id="1200627d-24c1-de19-7336-40fa2187d039" class="algin-center">
        <a href="/pages/trialevent" class="button white w-button">报名参加</a>
      </div>
    </div>
  </div><img src="/images/shape-1.svg" width="300" alt="" class="shape-2 second">
  <div class="page-divider">
    <div class="page-divider-white"></div>
  </div>
</div>