<nav data-w-id="6361d77c-7b3d-9f24-ec22-2e0c8aff98dd" class="navigation-flex">
  <div>
    <div
      data-w-id="6361d77c-7b3d-9f24-ec22-2e0c8aff98df"
      class="social-wrapper"
    >
      <div data-w-id="6361d77c-7b3d-9f24-ec22-2e0c8aff98e0" class="share-icon">
        <img src="/images/icons8-share-1.svg" width="24" alt="" />
      </div>
      <div class="social-content">
        <a href="#" class="social-icon facebook w-inline-block">
          <img
            src="/images/wechatshare.png"
            width="20"
            srcset="
              /images/wechatshare-p-500.png 500w,
              /images/wechatshare.png       626w
            "
            sizes="(max-width: 479px) 100vw, 20px"
            alt=""
        /></a>

        <a
          href="http://service.weibo.com/share/share.php?url=circlingchina.org?&title=Some Txt Here CirclingChina"
          class="social-icon twitter w-inline-block"
          ><img
            src="/images/pngkit_wechat-logo-png_712074-1.png"
            width="20"
            alt=""
          />
        </a>
      </div>
    </div>
  </div>
  <div class="navigation-wrapper">
    <a href="#" class="brand w-nav-brand"
      ><img
        src="/images/logo_white.png"
        width="80"
        srcset="
          /images/logo_white.png   500w,
          /images/logo_white.png   800w,
          /images/logo_white.png 1080w,
          /images/logo_white.png        1638w
        "
        sizes="(max-width: 479px) 54vw, 130px"
        alt=""
    /></a>
    <div class="navigation-menu">
      <a
        href="/"
        aria-current="page"
        class="navigation-item dark-nav w-inline-block w--current"
      >
        <div>首页</div>
      </a>
      <div data-delay="0" data-hover="1" class="dropdown-full w-dropdown">
        <div class="navigation-item flex dark-nav w-dropdown-toggle">
          <div class="icon w-icon-dropdown-toggle"></div>
          <div>关于circling</div>
          <img src="/images/drop.svg" width="6" alt="" class="arrow" />
        </div>

        <nav class="dropdown-list w-dropdown-list">
          <a
            href="/pages/whatiscircling1"
            class="dropdown-link w-dropdown-link"
            >什么是circling</a
          ><a
            href="/pages/whatiscircling2"
            class="dropdown-link w-dropdown-link"
            >我需要准备什么</a
          ><a
            href="/pages/whatiscircling3"
            class="dropdown-link w-dropdown-link"
            >Circling的价值</a
          >
        </nav>
      </div>
      <div data-delay="0" data-hover="1" class="dropdown-full w-dropdown">
        <div class="navigation-item flex dark-nav w-dropdown-toggle">
          <div class="icon w-icon-dropdown-toggle"></div>
          <div>活动</div>
          <img
            src="/images/drop.svg"
            width="6"
            alt=""
            class="arrow"
          />
        </div>

        <nav class="dropdown-list w-dropdown-list">
          <a href="/pages/events" class="dropdown-link w-dropdown-link"
            >所有活动</a
          ><a href="/pages/events" class="dropdown-link w-dropdown-link"
            >带领者训练营</a
          ><a href="/pages/blog" class="dropdown-link w-dropdown-link"
            >新人免费课程</a
          >
        </nav>
      </div>
      <a
        href="/pages/blog"
        class="navigation-item dark-nav w-inline-block"
      >
        <div>文章</div>
      </a>
      <div data-delay="0" data-hover="1" class="dropdown-full w-dropdown">
        <div class="navigation-item flex dark-nav w-dropdown-toggle">
          <div class="icon w-icon-dropdown-toggle"></div>
          <div>关于我们</div>
          <img src="/images/drop.svg" width="6" alt="" class="arrow" />
        </div>

        <nav class="dropdown-list w-dropdown-list">
          <a href="/pages/about" class="dropdown-link w-dropdown-link"
            >我们的愿景</a
          ><a href="/pages/leaders" class="dropdown-link w-dropdown-link"
            >带领者介绍</a
          >
        </nav>
      </div>
      <a
        href="/pages/pricing"
        class="navigation-item dark-nav w-inline-block"
      >
        <div>会员</div>
      </a>
      <a
        href="/pages/login"
        class="navigation-item dark-nav w-inline-block"
      >
        <div>登录/注册</div>
      </a>
    </div>
  </div>
  <div class="cart-flex">
    <div data-w-id="6361d77c-7b3d-9f24-ec22-2e0c8aff993d" class="hamburger">
      <div class="hamburger-wrapper">
        <div
          data-w-id="6361d77c-7b3d-9f24-ec22-2e0c8aff993f"
          class="line-3-1"
        ></div>
        <div
          data-w-id="6361d77c-7b3d-9f24-ec22-2e0c8aff9940"
          class="hamburger-content"
        >
          <div class="line-1"></div>
          <div
            data-w-id="6361d77c-7b3d-9f24-ec22-2e0c8aff9942"
            class="line-2"
          ></div>
        </div>
        <div
          data-w-id="6361d77c-7b3d-9f24-ec22-2e0c8aff9943"
          class="line-3"
        ></div>
      </div>
    </div>
  </div>
</nav>
