<nav data-w-id="6361d77c-7b3d-9f24-ec22-2e0c8aff98dd" class="navigation-flex-2">
  <a href="#" class="brand-logo w-nav-brand">
    <img src="/images/logo_white.png"
        sizes="(max-width: 479px) 54vw, 130px"
        alt=""/>
  </a>

  <div class="navigation-wrapper">
    <div class="navigation-menu-2">
     
      <div data-delay="0" data-hover="1" class="dropdown-full w-dropdown">
        <div class="navigation-item flex dark-nav w-dropdown-toggle">
          <div class="icon w-icon-dropdown-toggle"></div>
          <div>关于circling</div>
          <img src="/images/drop.svg" width="6" alt="" class="arrow"/>
        </div>

        <nav class="dropdown-list w-dropdown-list">
          <a
            href="/pages/whatiscircling1"
            class="dropdown-link w-dropdown-link"
            >什么是Circling</a
          >
          <a
            href="/pages/whatiscircling2"
            class="dropdown-link w-dropdown-link"
            >我需要准备什么</a
          >
          <a
            href="/pages/whatiscircling3"
            class="dropdown-link w-dropdown-link"
            >Circling的价值</a
          >
        </nav>
      </div>
<!--
      <div data-delay="0" data-hover="1" class="dropdown-full w-dropdown">
        <div class="navigation-item flex dark-nav w-dropdown-toggle">
          <div class="icon w-icon-dropdown-toggle"></div>
          <div>活动</div>
          <img
            src="/images/drop.svg"
            width="6"
            alt=""
            class="arrow"/>
        </div>
        <nav class="dropdown-list w-dropdown-list">
          <a href="/pages/events" class="dropdown-link w-dropdown-link"
            >所有活动</a
          >
          <a href="/pages/events" class="dropdown-link w-dropdown-link"
            >带领者训练营</a
          >
          <a href="/pages/trialevent" class="dropdown-link w-dropdown-link"
            >新人免费课程</a
          >
        </nav>
      </div>
-->
<!--
      <a
        href="/pages/events"
        class="navigation-item dark-nav w-inline-block"
      >
        <div>活动</div>
      </a>
-->

      <a
        href="/pages/blog"
        class="navigation-item dark-nav w-inline-block"
      >
        <div>文章</div>
      </a>
      
       <a
        href="/pages/pricing"
        aria-current="page"
        class="navigation-item dark-nav w-inline-block w--current"
      >
        <div>会员套餐</div>
      </a>

      <div data-delay="0" data-hover="1" class="dropdown-full w-dropdown">
        <div class="navigation-item flex dark-nav w-dropdown-toggle">
          <div class="icon w-icon-dropdown-toggle"></div>
          <div>关于我们</div>
          <img src="/images/drop.svg" width="6" alt="" class="arrow"/>
        </div>

        <nav class="dropdown-list w-dropdown-list">
          <a href="/pages/about" class="dropdown-link w-dropdown-link"
            >我们的愿景</a
          >
          <a href="/pages/leaders" class="dropdown-link w-dropdown-link"
            >带领者介绍</a
          >
        </nav>
      </div>
      <a
        id='nav-user-name'
        href="/pages/memberpage"
        class="navigation-item dark-nav w-inline-block"
      >
        <div class"user-name">活动</div>
      </a>
      <span data-netlify-identity-button></span>
    </div>
  </div>
</nav>
