style(type='text/css').
          .qr {
            width: 50%;
          }

p 你好！
p
p CirclingChina网站自四月份上线以来，已经举办了上百场Circling活动，创造了许多深度联结，埋下了很多转变的种子，过程中收获了很多反馈：
p
p “知道生命里的故事说不完，每当反复咀嚼自己的故事，就会产生自卑和对自卑的抵抗，一旦对他人袒露出脆弱，则又小心翼翼要猜测要预估别人能不能接受，我害怕周遭的评判，由此越发沮丧和孤单。
p 而有了Circling，在圈圈里的陪伴、善意、允许，所有真实的反应和表达都让我感到安全和联结。”
p
p “Circling的慢，带着好奇心观察、检验、猜测和允许。因为大家的坦诚、勇敢、耐心而感受到了更多的安全、轻松、舒适。”
p
p “Circling是一个共享空间，不像独自冥想那样排除语言和交流，但仍然会注意避免评判和杂念。它让人有机会放下重重故事和期待的包裹，更真切地看见自己和他人。”
p
p 安全、轻松、接纳、允许、联结
p 每当被问及什么是Circling时，总会受限于语言的局限，无法即刻给出精确的定义，而这些感受却总是第一时间自动跃进脑海中。
p
p 然而，感受毕竟比语言更抽象，需要经由体验来获得。就像很难跟没有游过泳的人描述水里的感受，只有接触到水的那一刻，才会体验到冷暖，感受到流动。
p
p 如果你也想要体验毫不费力的深度联结，就来加入我们周五新人活动夜吧！
p 有真实联结活动Circling，以及更多好玩的走心交友游戏，等你来玩！
p
p 活动内容：9月免费Circling新人活动
p 活动时间：9月4日／11日／18日／ 25日（周五） 20:00-22:00
p 活动形式：线上
p 活动费用：免费
p
p 新人活动不需要任何基础，也不需要做任何准备，但是有下面几点要求：
ul
    li 保证不受打扰的室内空间
    li 保证摄像头全程开启
    li 保证两个小时全情参与的时间

p 扫码关注【圈圈Circling】公众号，后台回复“体验”，即可报名参加
p
 img(class= 'qr' src='https://www.circlingquanquan.com/images/uploads/wechat_qr.png')

p Enjoy!
p CirclingChina团
