p 亲爱的#{name}：
p 您好！
p 恭喜您已经成功报名Circling活动！为了您顺利参加Circling活动及提高体验，现将需要做的准备工作及注意事项发送给您。
p 参加Circling前的准备工作
p 1.1 下载【瞩目】客户端：https://zhumu.com/download 。为了同时接收其他参与者的画面，我们推荐在【电脑】或者【平板】上参与Circling，不要用手机连线。
p 1.2 根据提示完成瞩目的安装及注册。
p 1.3 在Circling China网站个人页面中，尝试点击下图中“进入房间”按钮打开瞩目软件。
//- p: img(src='https://uploader.shimo.im/f/fINYGnohU54OpfuQ.jpeg')/

p 页面跳转至另一个网页链接，点击“打开瞩目”按钮。
//- p: img(src='https://uploader.shimo.im/f/lnhPGAJCD3Mq1N3N.jpg')/

p 现在您已经进入瞩目软件，等待主持人开启会议便可进入视频房间。
//- p: img(src='https://uploader.shimo.im/f/1XpL2VOqQJdNBiOP.jpg')
p 1.4 瞩目功能介绍
//- p: img(src='https://uploader.shimo.im/f/SuUREFlXsqrhsIN1.jpg')/

p 请在活动开始【15分钟前】，通过Circling China网站个人页面进入瞩目会议室（详细操作请见上面的1.3）。

p 请珍惜您的报名名额，确保准时出现在您所报的活动中。如果因为临时原因不能参与，请最晚在活动开始【2小时前】在Circling China网站个人页面中取消报名，方便其他人可以参与。
//- p: img(src='https://uploader.shimo.im/f/T1jSQs2s64x7oTi0.jpg')/

p 其他注意事项：
p 4.1 请找一个安静、能确保隐私的环境。如果有室友或家人，请告诉他们在活动期间不要来打扰。请不要在走路或在咖啡馆等公共场所进行连线。
p 4.2 请在连线期间保持环境的安静，若需要与房间内其他人讲话，请暂时关闭话筒和摄像头。
p 4.3 请在连线前，确保网络畅通，手机开到飞行模式，关闭电脑或平板上会弹出通知的软件。
p 4.4 画面是Circling必不可少的媒介，因此活动不支持仅语音参加，请开启摄像头。

p Circling中“说什么，不说什么”
p 5.1 在Circling中，我们侧重讲的是以下内容:
  ul
    li a) 想象自己是一台摄像机，客观描述当下你所看见的——”我看见/我发现……”（如，你的嘴角有些抽搐，你的眉头紧锁）
    li b) 描述你的内心情感——“我感受到……”（如，关心、担忧、焦虑、愤怒）
    li c) 分享你的身体感受——“我感受到……”（如，肩膀很紧张、心跳很快、脸有点热）
p  5.2  慎讲故事，除非它非常鲜活，是当下思绪的很大一部分，这时候就简短回顾它，然后回到讲它时的感受上来。
p  5.3 慎给建议。除非对方明确要求。尤其当人表现出负面情绪时，观察自己想“帮忙”，想“解决问题”的冲动，但不要立刻回应，只需要陪对方一起经历这个当下。
p  5.4  勿带“问题”看人看己。不要习惯性地套用你学过的知识投射，尤其是如果你常常阅读心理学的分析，就更要放一边，看到当下的喜怒哀乐思绪情感如其所是。
p  5.5 享受沉默。这是一个允许沉默的空间，试着练习练习看。不必没话找话，让话来找我们才是，其余时间就与沉默(尴尬)舒服地相处吧。
p  5.6  以上建议并非对言论的审查或限制， 只是一份邀请 ，请你用一种新的方式与人沟通。如果你不习惯，或不知道怎么发言，也可以先看看其他人是如何表达的。

p 您可能还会感兴趣的内容：
p: a(href='https://www.circlingchina.org/pages/whatiscircling1/') 什么是Circling 
p: a(href='https://www.circlingchina.org/pages/whatiscircling3/') Circling的价值 

p 期待与您相见！
p Circling China团队