p 亲爱的 #{name}：
p 您好！
p 恭喜您已经成为CirclingChina的会员。
p 您可以报名您的第一个Circling活动开始你的圈圈之旅啦。
p 
p 你可以通过CirclingChina官网的活动页面报名：https://www.circlingquanquan.com/pages/memberpage/
p 也可以通过手机报名，微信搜索小程序：圈圈Circling。
p 
p 圈圈旅程指南：
  ul
    li 如果您Circling的初体验者（circling经验5次以下），建议参加：新人圈、有机圈、生日圈。
    li 在具体了解了Circling后（circling经验5-10次），可以尝试体验：话题圈、歌舞伎圈、Circling周边游戏等。
    li 已经对Circling熟悉的你（circling经验10次以上），欢迎去玩更进阶的圈圈：捣蛋鬼圈、精分圈、通道圈。
    li 如果你已经参与Circling20次以上，可以尝试更深度的Circling系列封闭圈,或者1对1Circling。
    li 也可以尝试自己发起有容器的社群活动与大家一起玩耍哦。
p 
p 快报名开始你的第一次圈圈吧~
p 期待在圈里与您相见！
p Circling China团队