p 亲爱的#{name},

p 谢谢你注册Circling China，感恩相遇！

p 在开启你的第一次Circling体验之前，我想先跟你讲讲我的故事。

p 过去的我，获得了许多成就，却并不开心，总觉得那个光鲜亮丽的自己是个“冒充者”，总会担心，“我完全真实的样子，会有人接纳吗？”

p( 在遇见Circling之后，我有了坚定的答案——
  我的素颜、我的愁眉苦脸，都被欢迎着；
  甚至，在表达了真实的愤怒、羞耻和评判之后，有人更加爱我了。
)

p( 经历过上百场Circling，我的脆弱一次又一次被温柔接住，同样的，我也带给别人许多温暖。我的心正在变得越来越广阔，情绪表达也愈发畅通无阻。 
而这些，也正是我和我所属的社群想传递给你的体验。
)

p Circling China 致力于把真实联结带到线上线下每个角落，只要你愿意，每天都可以毫不费力地跟信任的人走心交谈。

p 我希望，不久的将来，Circling会成为另一门“普通话”，不管是家人、朋友、恋人、同事还是陌生人之间，都可以自然地说出：”好想了解你多一点，咱们来Circling吧！“

p 或者，“我好难受，需要点关注，求一个生日圈！”

p 我更加希望，Circling秉承的悉心倾听、善意猜测、活在当下，能够延展到日常生活的每个角落，在高压的工作场合，在无聊的家庭聚会里，我们都能自然流露出更多好奇心，经由真实表达，创造出更多有趣又有意义的瞬间。

p 读到这里的你，愿意跟我们一起围坐一圈，聊灵魂天吗？

a(href='/TODO/') 现在报名免费新人课程

p 静姝
p Circling China发起人