---
layout: layout.njk
page_id: 5e4b8703f08158366f2264df
site_id: 5e4b8703f0815874d02263b8
---
    <div id="Top" class="banner sub">
      {% include _nav.html %}
      <div class="container w-container">
        <div class="algin-center">
          <div id="w-node-077a955aa0cd-6f2264df" class="left-banner normal">
            <div>
              <div data-w-id="0d0c8991-082d-058d-6d7f-077a955aa0cf" style="opacity:0" class="sub-text">Circling china<br></div>
              <h1 data-w-id="0d0c8991-082d-058d-6d7f-077a955aa0d2" style="opacity:0" class="tittle-banner">我们的愿景<br></h1>
            </div>
          </div>
        </div>
      </div><img src="../images/shape-1.svg" width="300" alt="" class="shape-2"><img src="../images/shape-1.svg" width="300" alt="" class="shape-2 second">
      <div class="page-divider">
        <div class="page-divider-white"></div>
      </div>
    </div>
    <div class="section">
      <div class="container w-container">
        <div data-w-id="d9b89e58-6444-cdc7-3008-9aba951b505c" style="opacity:0" class="testimonials-wrapper ceo-quote"><img src="../images/quote.png" width="50" alt="" class="quote-icon">
          <div>
            <div class="quote-text ceo-quote">如果把梦做大，我想让Circling在中国遍地开花，<br>让100万人每天都可以毫不费力地走心交谈。<br></div>
            <div class="top-margin flex center">
              <div class="testimonials-photo ceo"></div>
              <div>
                <div class="testi-name">Jess 静姝</div>
                <div class="testi-name job-title">Circling中国发起人</div>
              </div>
            </div>
          </div>
          <div class="top-margin"><img src="../images/jess_sign.png" width="100" alt=""></div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container w-container">
        <div class="_70 center">
          <div class="blog-wrapper">
            <div class="rich-text-block-2 w-richtext">
              <p> 你也像我一样，经历过「<strong>真实危机</strong>」吗？</p>
              <p>见多了套路，开多了美颜，社交场合游刃有余，负面情绪则关起门来自己消化。</p>
              <p> </p>
              <p>这难免让我担心：</p>
              <p><strong>“我完全真实的样子，会有人接纳吗？”</strong></p>
              <p> </p>
              <p>就像那首《我》里唱的：</p>
              <p><strong>“假如你看见我，这样的我，胆怯又软弱</strong></p>
              <p><strong>会闪躲，还是说，你更爱我？”</strong></p>
              <p> </p>
              <p>遇见Circling之后，我有了坚定的答案——我的素颜、我的愁眉苦脸，都被欢迎着；</p>
              <p>甚至，在表达了真实的愤怒、羞耻和评判之后，有人更加爱我了。</p>
              <p> </p>
              <p>经历过上百场Circling，我的脆弱一次又一次被温柔接住，与此同时，我也带给别人许多温暖。我的心变得越来越广阔，情绪表达也愈发畅通无阻。</p>
              <p> </p>
              <p>终于，我有了一个安放所有情绪的角落，在这里，也遇见了一群志同道合的亲密队友。</p>
              <p>‍</p>
            </div>
            <div class="rich-text-block-3 w-richtext">
              <p>‍</p>
              <p>2019年8月，我在成都举办了两场Circling线下活动，它们可能是Circling在中国最初的萌芽。9月起，每周四晚，我发起的「章鱼觉醒」社群也在坚持进行线上Circling，它成了许多群友的心灵聊天室，从每周一次，自发地变成了每周两次、三次。</p>
              <p> </p>
              <p>与此同时，9月，群友yan在上海举办了第一场线下Circling；11月，在Milk和空脸君的组织下，Circling也在北京落地了。</p>
              <p> </p>
              <p>2020年2月，北京舍临文化有限公司正式成立，3月底，Circling China网站上线。</p>
              <p> </p>
              <p>Circling本质上是一个<strong>扁平化、去中心化的无限游戏</strong>。它并不属于发起人，而是属于每一个热爱它、借它充电，又贡献时间精力回报它的人。也正因如此，Circling才能在短短半年时间内生长得如此茂盛。</p>
              <p>‍</p>
            </div>
            <div class="rich-text-block-4 w-richtext">
              <p>‍</p>
              <p>Circling China 致力于把<strong>真实联结</strong>带到线上线下每个角落，让100万中国人每天都可以毫不费力地走心交谈。</p>
              <p> </p>
              <p>我们希望，不久的将来，<strong>Circling会成为另一门“普通话”</strong>，不管是家人、朋友、恋人、同事还是陌生人之间，都可以自然地说出：”好想了解你多一点，咱们来Circling吧！“ </p>
              <p>或者，“我好难受，需要点关注，求一个生日圈！” </p>
              <p> </p>
              <p>我们更加希望，Circling秉承的<strong>悉心倾听、善意猜测、活在当下</strong>，能够延展到日常生活的每个角落，在高压的工作场合，在无聊的家庭聚会里，我们都能自然流露出更多好奇心，经由真实表达，创造出更多深度联结。</p>
              <p> </p>
              <p>所以，读到这里的你，愿意和我们围坐一圈，聊一次灵魂天吗？</p>
            </div>
          </div><a href="../pages/contact-2.html">现在报名新人课程</a></div>
      </div>
      <div class="page-divider"></div>
    </div>
    {%include _free_event.html%}
