---
layout: layout.njk
page_id: 5e4b8703f08158b176226513
site_id: 5e4b8703f0815874d02263b8
---

    <div id="Top" class="banner sub">
      {% include _nav.html %}
      <div class="container w-container">
        <div class="algin-center">
          <div id="w-node-9a2facb29090-76226513" class="left-banner normal">
            <div>
              <h1 data-w-id="315bd3e5-e88d-ebd8-cb3d-9a2facb29095" style="opacity:0" class="tittle-banner">欢迎联系我们<br></h1>
            </div>
          </div>
        </div>
      </div><img src="../images/shape-1.svg" width="300" alt="" class="shape-2"><img src="../images/shape-1.svg" width="300" alt="" class="shape-2 second">
      <div class="page-divider">
        <div class="page-divider-white"></div>
      </div>
    </div>
    <div class="section">
      <div class="page-divider">
        <div class="page-divider-white down"></div>
      </div>
      <div class="container w-container">
        <div>
          <div data-w-id="fac37485-79a7-3f0b-5880-f79e0d660283" style="opacity:0" class="w-row">
            <div class="w-col w-col-4">
              <div>
                <h3 class="office-title">在这里可以找到我们</h3>
              </div>
            </div>
            <div class="w-col w-col-8">
              <div class="w-row">
                <div class="w-col w-col-4">
                  <div>
                    <h4 class="office-name">微信公众号</h4>
                    <div>
                      <p>这里放公众号二维码</p>
                    </div>
                  </div>
                </div>
                <div class="w-col w-col-4">
                  <div>
                    <h4 class="office-name">微博</h4>
                    <div>
                      <p>44 Shirley Ave.<br>London, EN 60185</p>
                    </div>
                  </div>
                </div>
                <div class="w-col w-col-4">
                  <div>
                    <h4 class="office-name">联络邮箱</h4>
                    <div>
                      <p>514 S. Magnolia St.<br>Manhattan, NY 32806</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="top-margin more">
          <div data-w-id="fac37485-79a7-3f0b-5880-f79e0d6602a6" style="opacity:0" class="w-row">
            <div class="w-col w-col-4">
              <div>
                <h3 class="office-title">留言给我们</h3>
              </div>
            </div>
            <div class="w-col w-col-8">
              <div>
                <div class="w-form">
                  <form id="email-form" name="email-form" data-name="Email Form">
                    <div class="w-row">
                      <div class="w-col w-col-6">
                        <div class="form-margin"><label for="Name" class="field-label">姓名</label><input type="text" class="text-field-form w-input" maxlength="256" name="Name" data-name="Name" placeholder="请输入姓名" id="Name" required=""></div>
                      </div>
                      <div class="w-col w-col-6">
                        <div><label for="Email" class="field-label">Email地址</label><input type="email" class="text-field-form w-input" maxlength="256" name="Email" data-name="Email" placeholder="请输入邮箱地址" id="Email"></div>
                      </div>
                    </div>
                    <div class="top-margin w-row">
                      <div class="w-col w-col-6">
                        <div class="form-margin"><label for="Timeline" class="field-label">微信号</label><input type="text" class="text-field-form w-input" maxlength="256" name="Timeline" data-name="Timeline" placeholder="我们可能会通过微信联系你" id="Timeline" required=""></div>
                      </div>
                      <div class="w-col w-col-6">
                        <div><label for="phone" class="field-label">手机号</label><input type="tel" maxlength="256" name="phone" data-name="phone" placeholder="(非必须)" id="phone" class="text-field-form w-input"></div>
                      </div>
                    </div>
                    <div class="top-margin _10px"><label for="Text-Area" class="field-label">留言给我们</label><textarea id="Text-Area" name="Text-Area" placeholder="您好，感谢联系circling中国，我们会第一时间给你回复" maxlength="5000" data-name="Text Area" required="" class="text-field-form area w-input"></textarea></div>
                    <div class="top-margin"><input type="submit" value="提交留言" data-wait="Please wait..." class="button w-button"></div>
                  </form>
                  <div class="success-message w-form-done">
                    <div>谢谢你留言给我们，期待更多交流！</div>
                  </div>
                  <div class="error-message w-form-fail">
                    <div>填写有误！请保证填写信息正确后重新提交，谢谢！</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {%include _free_event.html%}
    