---
layout: layout.njk
page_id: 5e5d6872fe7a22012477a86f
site_id: 5e4b8703f0815874d02263b8
---
    <div id="Top" class="banner sub">
      {% include _nav.html %}
      <div class="container w-container">
        <div class="algin-center">
          <div id="w-node-077a955aa0cd-2477a86f" class="left-banner normal">
            <div>
              <div data-w-id="0d0c8991-082d-058d-6d7f-077a955aa0cf" style="opacity:0" class="sub-text">Circling facilitators<br></div>
              <h1 data-w-id="0d0c8991-082d-058d-6d7f-077a955aa0d2" style="opacity:0" class="tittle-banner">认识我们的带领者<br></h1>
            </div>
          </div>
        </div>
      </div><img src="/images/shape-1.svg" width="300" alt="" class="shape-2"><img src="/images/shape-1.svg" width="300" alt="" class="shape-2 second">
      <div class="page-divider">
        <div class="page-divider-white"></div>
      </div>
    </div>
    <div class="section transparent">
      <div class="leader-group w-container">
        <div class="leader-block"><a href="#Jess" class="w-inline-block"><img src="/images/jess_leader.jpg" width="256" height="256" alt="" class="leader-photo"></a>
          <h3>Jess 静姝</h3>
        </div>
        <div class="leader-block"><a href="#ling" class="w-inline-block"><img src="/images/霖.jpeg" width="256" height="256" srcset="/images/霖-p-500.jpeg 500w, /images/霖-p-800.jpeg 800w, /images/霖.jpeg 1080w" sizes="(max-width: 479px) 45vw, 17vw" alt="" class="leader-photo"></a>
          <h3>Ling</h3>
        </div>
        <div class="leader-block"><a href="#keyi" class="w-inline-block"><img src="/images/可以.jpeg" srcset="/images/可以-p-500.jpeg 500w, /images/可以-p-800.jpeg 800w, /images/可以-p-1080.jpeg 1080w, /images/可以-p-1600.jpeg 1600w, /images/可以.jpeg 2000w" sizes="(max-width: 479px) 24vw, 17vw" alt="" class="leader-photo"></a>
          <h3>可以</h3>
        </div>
        <div class="leader-block"><a href="#Milk" class="w-inline-block"><img src="/images/Milk.jpeg" srcset="/images/Milk-p-500.jpeg 500w, /images/Milk-p-800.jpeg 800w, /images/Milk.jpeg 1080w" sizes="(max-width: 479px) 47vw, 17vw" alt="" class="leader-photo"></a>
          <h3>Milk</h3>
        </div>
      </div>
      <div class="leader-group w-container">
        <div class="leader-block"><a href="#weisi" class="w-inline-block"><img src="/images/siwei.png" srcset="/images/siwei-p-500.png 500w, /images/siwei-p-800.png 800w, /images/siwei-p-1080.png 1080w, /images/siwei.png 1442w" sizes="(max-width: 479px) 24vw, (max-width: 991px) 25vw, 200px" alt="" class="leader-photo"></a>
          <h3>维斯</h3>
        </div>
        <div class="leader-block"><a href="#mint" class="w-inline-block"><img src="/images/mint.png" srcset="/images/mint-p-500.png 500w, /images/mint-p-800.png 800w, /images/mint-p-1080.png 1080w, /images/mint-p-1600.png 1600w, /images/mint.png 1920w" sizes="(max-width: 479px) 47vw, (max-width: 991px) 25vw, 200px" alt="" class="leader-photo"></a>
          <h3>Mint</h3>
        </div>
        <div class="leader-block"><a href="#silver" class="w-inline-block"><img src="/images/Silver.jpeg" srcset="/images/Silver-p-500.jpeg 500w, /images/Silver-p-800.jpeg 800w, /images/Silver-p-1080.jpeg 1080w, /images/Silver-p-1600.jpeg 1600w, /images/Silver-p-2000.jpeg 2000w, /images/Silver-p-2600.jpeg 2600w, /images/Silver.jpeg 2912w" sizes="(max-width: 479px) 57vw, (max-width: 991px) 25vw, 200px" alt="" class="leader-photo"></a>
          <h3>Silver</h3>
        </div>
      </div>
      <div class="page-divider"></div>
    </div>
    <section id="Jess" class="section transparent">
      <div class="container w-container">
        <div class="margin-page">
          <div class="left-wrapper right">
            <div id="w-node-e09ca3b0e914-2477a86f" data-w-id="33c0e522-82a0-26e3-1d6f-e09ca3b0e914" style="opacity:0" class="div-block-9">
              <h1 class="h1">Jess 静姝<br></h1>
              <div class="top-margin">
                <p class="paragraph-4"><strong>亲历黑暗，自然懂得如何给人光。<br>‍<br></strong>尝试过许多主流或替代的创伤疗法，最爱的却是无关治疗的Circling，因为它从不认为我“有问题”，只是细水长流，让我渐渐深信，我并不孤单，我能去爱，也会被爱。<br><br>我拥有等待种子发芽的耐心，乐于花三五年甚至更长时间，耕耘一个社群，创造深度联结的安全空间。于是就有了「章鱼觉醒」，和它衍生的 Circling China。<br>‍<br>在我带领的圈里，你可能会哭，会笑，会无聊，会不爽，会丢脸，会犯错，会狂喜，会松弛。<br>‍<br><strong>愿你遇见并爱上这样一个色彩斑斓的自己。</strong><br></p>
              </div>
            </div>
            <div data-w-id="33c0e522-82a0-26e3-1d6f-e09ca3b0e921" style="opacity:0" class="photo-white">
              <div class="image-white"><img src="/images/jess_leader.jpg" alt="" class="digital-image"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-divider"></div>
    </section>
    <section id="Ling" class="section transparent">
      <div class="container w-container">
        <div class="margin-page">
          <div class="left-wrapper right">
            <div id="w-node-4d62cd264e7f-2477a86f" data-w-id="f5f80d3b-acf6-2b30-254f-4d62cd264e7f" style="opacity:0" class="div-block-9">
              <h1 class="h1">Ling<br></h1>
              <div class="top-margin">
                <p class="paragraph-4">我是霖，不喜欢标签（当然它有时很好用），喜欢<strong>丰富性</strong>。<br><br>当人生陷入虚无，我会使用两条咒语：<br><strong>如果能使一颗心免于破碎，我就没有白活；<br>活下去的方式就是辨别那些非地狱的事物，并赋予它们空间。</strong><br><br>Circling像花开花落的许多瞬间，与人们以这种方式邂逅，作伴，我感到庆幸。<br><br>伙伴们说我，既有阳刚的地方，又有细腻阴柔的感觉。<br><br>期待与更多人经历那些令人珍惜的瞬间。</p>
              </div>
            </div>
            <div data-w-id="f5f80d3b-acf6-2b30-254f-4d62cd264e9a" style="opacity:0" class="photo-white">
              <div class="image-white"><img src="/images/霖.jpeg" srcset="/images/霖-p-500.jpeg 500w, /images/霖-p-800.jpeg 800w, /images/霖.jpeg 1080w" sizes="(max-width: 479px) 75vw, (max-width: 767px) 81vw, (max-width: 991px) 83vw, 34vw" alt="" class="digital-image"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-divider"></div>
    </section>
    <section id="可以" class="section transparent">
      <div class="container w-container">
        <div class="margin-page">
          <div class="left-wrapper right">
            <div id="w-node-8e854f9ff641-2477a86f" data-w-id="f22fc60c-89c9-37a9-5f2f-8e854f9ff641" style="opacity:0" class="div-block-9">
              <h1 class="h1">可以<br></h1>
              <div class="top-margin">
                <p class="paragraph-4">入睡慢，睁眼慢<br>脸颊肉里藏着灵感，锁着思念<br><br>喜爱竖耳听沉默的声响<br>喜爱眯眼看朦胧的火光<br>喜爱抿嘴嚼羞涩的张望<br><br>一遇见 circling<br>以上所有动词都松动了<br><br>“可以是个小精灵&quot;<br>“拿着魔法棒，灵动又调皮”<br>“可以走动在所有的画框里”<br>“我看不到你生命力里任何阻碍”<br>“我一直在想可以说的，看见一个人时，就是真的看见”<br>“可以怎么笑得那么开心” <br><br>“可以？”<br>“可以！”</p>
              </div>
            </div>
            <div data-w-id="f22fc60c-89c9-37a9-5f2f-8e854f9ff64e" style="opacity:0" class="photo-white">
              <div class="image-white"><img src="/images/可以.jpeg" srcset="/images/可以-p-500.jpeg 500w, /images/可以-p-800.jpeg 800w, /images/可以-p-1080.jpeg 1080w, /images/可以-p-1600.jpeg 1600w, /images/可以.jpeg 2000w" sizes="(max-width: 479px) 75vw, (max-width: 767px) 81vw, (max-width: 991px) 83vw, 34vw" alt="" class="digital-image"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-divider"></div>
    </section>
    <section id="Milk" class="section transparent">
      <div class="container w-container">
        <div class="margin-page">
          <div class="left-wrapper right">
            <div id="w-node-125de4141fcd-2477a86f" data-w-id="229912c3-e9ec-d00e-df2e-125de4141fcd" style="opacity:0" class="div-block-9">
              <h1 class="h1">Milk<br></h1>
              <div class="top-margin">
                <p class="paragraph-4">circling让我学会自在，帮助我靠体会人与人交流中的真诚流动，我<strong>不再惧怕沉默，也不需要因为避免尴尬而委屈自己、照顾他人。</strong><br><br>我喜欢circling的这份神奇魔力，也希望通过circling，帮助你找到最真实的自己。<br><br>有小伙伴这么评价我：“Milk能照顾好每个人，是一个内心丰富而细腻的带领者。<strong>字典里我找不到的词，都能在Milk这里找到。” </strong><br><br>希望你能在我带领的圈里感到自在，为你的情绪找到一个合适的安放之所。<br><br>不必刻意追求什么，因为circling就像掷骰子，我们永远不知道会发生什么，让我们欢迎一切的可能性，也欢迎你的到来！</p>
              </div>
            </div>
            <div data-w-id="229912c3-e9ec-d00e-df2e-125de4141fda" style="opacity:0" class="photo-white">
              <div class="image-white"><img src="/images/Milk.jpeg" srcset="/images/Milk-p-500.jpeg 500w, /images/Milk-p-800.jpeg 800w, /images/Milk.jpeg 1080w" sizes="(max-width: 479px) 75vw, (max-width: 767px) 81vw, (max-width: 991px) 83vw, 34vw" alt="" class="digital-image"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-divider"></div>
    </section>
    <section id="维斯" class="section transparent">
      <div class="container w-container">
        <div class="margin-page">
          <div class="left-wrapper right">
            <div id="w-node-fabac9d2cdb3-2477a86f" data-w-id="2717b007-4a00-eaa0-ec17-fabac9d2cdb3" style="opacity:0" class="div-block-9">
              <h1 class="h1">维斯<br></h1>
              <div class="top-margin">
                <p class="paragraph-4">想像一面镜子，当你走近，毫无保留地告诉你我看到的所有；<br><br>又不想像镜子了，想像一片湖，当你走近，可以朦胧地看到自己，也可以看到我的涟漪； <br><br>Circling就像环抱我的山，山里有万物和我一起呼吸，<strong>目光对目光，真心对真心。</strong></p>
              </div>
            </div>
            <div data-w-id="2717b007-4a00-eaa0-ec17-fabac9d2cdc0" style="opacity:0" class="photo-white">
              <div class="image-white"><img src="/images/siwei.png" srcset="/images/siwei-p-500.png 500w, /images/siwei-p-800.png 800w, /images/siwei-p-1080.png 1080w, /images/siwei.png 1442w" sizes="(max-width: 479px) 75vw, (max-width: 767px) 81vw, (max-width: 991px) 83vw, 34vw" alt="" class="digital-image"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-divider"></div>
    </section>
    <section id="Mint" class="section transparent">
      <div class="container w-container">
        <div class="margin-page">
          <div class="left-wrapper right">
            <div id="w-node-3fd220ecf1ac-2477a86f" data-w-id="0cf1bd89-fa6e-6d61-164b-3fd220ecf1ac" style="opacity:0" class="div-block-9">
              <h1 class="h1">Mint<br></h1>
              <div class="top-margin">
                <p class="paragraph-4">我是一个倾听者，相对于表达，我更倾向于<strong>倾听</strong>；<br>‍<br>我是一个<strong>崇尚科学的修行人</strong>，相对于神秘主义体验，我更倾向于将其视为一种大脑神经保健；<br>‍<br>我是一个Circling带领者，相对于严谨的领航者，我更倾向于用<strong>大音希声、和风细雨</strong>的方式，让一切自然发生。</p>
              </div>
            </div>
            <div data-w-id="0cf1bd89-fa6e-6d61-164b-3fd220ecf1b9" style="opacity:0" class="photo-white">
              <div class="image-white"><img src="/images/mint.png" srcset="/images/mint-p-500.png 500w, /images/mint-p-800.png 800w, /images/mint-p-1080.png 1080w, /images/mint-p-1600.png 1600w, /images/mint.png 1920w" sizes="(max-width: 479px) 75vw, (max-width: 767px) 81vw, (max-width: 991px) 83vw, 34vw" alt="" class="digital-image"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-divider"></div>
    </section>
    <section id="Silver" class="section transparent">
      <div class="container w-container">
        <div class="margin-page">
          <div class="left-wrapper right">
            <div id="w-node-f03fbcd82789-2477a86f" data-w-id="adb534a8-f5f6-1198-b920-f03fbcd82789" style="opacity:0" class="div-block-9">
              <h1 class="h1">Silver Crane<br></h1>
              <div class="top-margin">
                <p class="paragraph-4">我是Silver Crane，我对艺术充满热爱，认为艺术就是用爱来说话。<br>我为此已经，并且正在学习多种语言，为的便是将爱言说，若有机缘，或能将爱给予。 <br><br><strong>我曾以为只有读足够多的书。才能说我想说的话，为此我封闭了多年的内心。</strong>但我错了。我的诗性与生俱来，更善于歌唱，工于点染。而最为重要的是，曾经有人做了薪柴，点燃过我的爱火。 <br><br>倘若我的引领有任何特别之处的话，为它赋予风格的，并不见得是此时的我，而更取决于当下的你。<br><br>我将是你的场景，将你带领至连结和爱。</p>
              </div>
            </div>
            <div data-w-id="adb534a8-f5f6-1198-b920-f03fbcd82796" style="opacity:0" class="photo-white">
              <div class="image-white"><img src="/images/Silver.jpeg" srcset="/images/Silver-p-500.jpeg 500w, /images/Silver-p-800.jpeg 800w, /images/Silver-p-1080.jpeg 1080w, /images/Silver-p-1600.jpeg 1600w, /images/Silver-p-2000.jpeg 2000w, /images/Silver-p-2600.jpeg 2600w, /images/Silver.jpeg 2912w" sizes="(max-width: 479px) 75vw, (max-width: 767px) 81vw, (max-width: 991px) 83vw, 34vw" alt="" class="digital-image"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-divider"></div>
    </section>
{%include _free_event.html%}