---
layout: layout.njk
custom_script: <script src="/js/login.js"></script>
---
    <div id="Top" class="banner sub">
      {% include _nav.html %}
      <div class="container w-container">
        <div class="algin-center">
          <div id="w-node-e9bd645a185b-ac8f3570" class="left-banner normal">
            <div>
              <div data-w-id="a4c2ed94-0ecf-eb73-918b-e9bd645a185d" style="opacity:0" class="sub-text">登录<br></div>
              <h1 data-w-id="a4c2ed94-0ecf-eb73-918b-e9bd645a1860" style="opacity:0" class="tittle-banner">欢迎回来<br></h1>
            </div>
          </div>
        </div>
      </div><img src="/images/shape-1.svg" width="300" alt="" class="shape-2"><img src="/images/shape-1.svg" width="300" alt="" class="shape-2 second">
      <div class="page-divider">
        <div class="page-divider-white"></div>
      </div>
    </div>
    <div class="section">
      <div class="container w-container">
        <div>
          <div data-netlify-identity-menu></div>
          <!-- <div class="form-block-2 w-form">
            <form id="wf-form-Register-Form" name="wf-form-Register-Form" data-name="Register Form" redirect="/pricing" data-redirect="/pricing">
              <div class="div-block-7"><label for="Email-4" class="field-label">Email</label><input type="email" class="text-field-form w-input" maxlength="256" name="Email-3" data-name="Email 3" placeholder="请输入邮箱地址" id="Email-3"></div>
              <div class="form-margin"><label for="node" class="field-label">密码</label><input type="password" class="text-field-form w-input" maxlength="256" data-name="密码" placeholder="请输入8位密码 字母和数字组成" id="node" required=""></div>
              <div class="top-margin"><input type="submit" value="登录" data-wait="正在登录..." class="button w-button"><a href="#" class="link-4">忘记密码</a><a href="/pages/register" class="link-4">注册会员</a></div>
            </form>
            <div class="success-message w-form-done">
              <div>恭喜你成为我们的会员</div>
            </div>
            <div class="error-message w-form-fail">
              <div>填写有误！请保证填写信息正确后重新提交，谢谢！</div>
            </div>
          </div> -->
        </div>
      </div>
      <div class="page-divider">
        <div class="page-divider-white down"></div>
      </div>
    </div>
{%include _free_event.html%}
    