---
layout: layout.njk
---

<div id="Top" class="banner sub">
  {% include _nav.html %}
  <div class="container w-container">
    <div class="algin-center">
      <div id="w-node-531e45db4230-3a94bc21" class="left-banner normal">
        <div>
          <div data-w-id="1db6bc80-22e2-912a-cbc9-b73c7fd95149" style="opacity:0" class="sub-text">Circling知识库<br></div>
          <h1 data-w-id="1db6bc80-22e2-912a-cbc9-b73c7fd9514c" style="opacity:0" class="tittle-banner">我需要准备什么<br></h1>
        </div>
      </div>
    </div>
  </div><img src="/images/shape-1.svg" width="300" alt="" class="shape-2"><img src="/images/shape-1.svg" width="300" alt="" class="shape-2 second">
  <div class="page-divider">
    <div class="page-divider-white"></div>
  </div>
</div>
<div class="section">
  <div class="w-container">
    <div class="_70 center">
      <div class="blog-wrapper">
        <div class="w-richtext">
          <h4>1. 连线之前的准备工作</h4>
          <p>‍</p>
          <p>1-1. 硬件</p>
          <p>话筒、扬声器/耳机、摄像头是线上会议的必备硬件，请在circling开始前，确保三者都可以正常工作。</p>
          <p>1-2. 软件</p>
          <p>我们使用的的软件叫做【瞩目】，推荐大家去官网下载、注册。官网网址是：zhumu.com ；为了同时接收其他参加者的画面，请使用【电脑版】，不要使用手机连线。</p>
          <p>1-3. 环境</p>
          <p>请大家找一个安静、能确保隐私的环境。如果有室友或家人，请告诉他们这个小时不要来打扰。不要在走路时或咖啡馆里连线。</p>
          <p>请在连线前，确保网络畅通，手机开到飞行模式，关闭电脑上会弹出通知的软件。</p>
          <p>‍</p>
          <h4>2. 连线开始后的规则</h4>
          <p>‍</p>
          <p>2-1. 画面是circling必不可少的连结媒介，因此活动不支持仅语音参加，请开启摄像头。</p>
          <p>2-2. 请在连线期间保持环境的安静，若需要与房间内其他人讲话，请暂时关掉话筒和摄像头。</p>
          <p>2-3. 请尊重他人的发言，在尊重的前提下，不必审查自己的真实想法。</p>
          <p>2-4. 如非必要，请勿中途退场 ，哪怕是有不舒服，可以试着跟不舒服在一起，也欢迎表达出来，或许它会带你认识自己和他人更多。</p>
          <p>‍</p>
          <h4>3. 说什么、不说什么</h4>
          <p>‍</p>
          <p>3-1. 在Circling中，我们侧重讲的是以下内容:</p>
          <p>     a) 想象自己是一台摄像机，客观描述当下你所看见的——”我看见/我发现……”（如，你的嘴角有些抽搐，你的眉头紧锁）</p>
          <p>     b) 描述你的内心情感——“我感受到……”（如，关心、担忧、焦虑、愤怒）</p>
          <p>     c) 分享你的身体感受——“我感受到……”（如，肩膀很紧张、心跳很快、脸有点热）</p>
          <p>‍</p>
          <p>3-2. 慎讲故事，除非它非常鲜活，是当下思绪的很大一部分，这时候就简短回顾它，然后回到讲它时的感受上来。</p>
          <p>3-3. 慎给建议。除非对方明确要求。尤其当人表现出负面情绪时，观察自己想“帮忙”，想“解决问题”的冲动，但不要立刻回应，只需要陪对方一起经历这个当下。</p>
          <p>3-4. 勿带“问题”看人看己。不要习惯性地套用你学过的知识投射，尤其是如果你常常阅读心理学的分析，就更要放一边，看到当下的喜怒哀乐思绪情感如其所是。</p>
          <p>3-5. 享受沉默。这是一个允许沉默的空间，试着练习练习看。不必没话找话，让话来找我们才是，其余时间就与沉默(尴尬)舒服地相处吧。</p>
          <p>3-6. 以上建议并非对言论的审查或限制， 只是一份邀请 ，请你用一种新的方式与人沟通。如果你不习惯，或不知道怎么发言，也可以先看看其他人是如何表达的。</p>
          <p></p>
          <p>‍观看视频：实用Tips | 第一次参加 Circling 应该做什么？</p>
          <iframe style="width:98%;height: 450px;"
            src="https://player.bilibili.com/player.html?aid=327548185&bvid=BV1yA4118744&cid=170009680&page=1" scrolling="no" border="0" 
            frameborder=0
            allowfullscreen="true"
            webkitallowfullscreen="true"
            mozallowfullscreen="true"> 
            </iframe>
          <h2> </h2>
        </div>
      </div>
      
      </div class="sidebar-wrapper">
        <h4>相关阅读<strong><br></strong>
        </h4>
        <div class="service-in-siderbar">
          <img width="36" src="/images/051-sun.svg" alt="">
          <a href="/pages/whatiscircling1" class="navlink-2 for-button blue white for-footer in-sidebar w-inline-block">
            <div>什么是Circling？</div>
              <div class="line-animation-2">
                  <div class="line-overlay white" style="transform: translate3d(-101%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                </div>
            </div>
          </a>
        </div>
        <div class="service-in-siderbar">
          <img width="36" src="/images/051-branch.svg" alt="">
          <a href="/pages/whatiscircling3" class="navlink-2 for-button blue white for-footer in-sidebar w-inline-block">
            <div>Circling的价值</div>
            <div class="line-animation-2">
              <div class="line-overlay white" style="transform: translate3d(-101%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
              </div>
            </div>
          </a>
      </div>
    </div>
  </div>
</div>
</div>
{%include _free_event.html%}